.facility {
  background-color: #FFF;
  border: 3px solid rgb(216, 221, 230);
  border-radius: 15rem;
  color: rgb(0, 112, 210) !important;
  cursor: pointer;
  font-family: arial, helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 20em;
}

div {
  color: rgb(0, 112, 210) !important;
}

a:link {
  color: rgb(0, 112, 210) !important;
}

a:visited {
  color: rgb(0, 112, 210) !important;
}

a:hover {
  color: rgb(0, 112, 210) !important;
}

a:active {
  color: rgb(0, 112, 210) !important;
}

.facility-selected {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF7AE), to(#E3CA4B));
  background-color: #FFF7AE;
  border: 2px solid #E3CA4B;
}
